DATABASE_DRIVER=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=film_db
DATABASE_USERNAME=film_admin
DATABASE_PASSWORD=film_2026_secure

POSTGRES_USER=film_admin
POSTGRES_PASSWORD=film_2026_secure
POSTGRES_DB=film_db

PORT=3000
DEBUG=*